*{
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  min-height: 100vh;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: green;
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pawn {
  width: 20px;
  height: 20px;
  /* background-color: blue; */
  position: absolute;
}